body{
	background-color: ##E6E6E6;
	padding-top: 80px;
}


/***********************************************-- SIDEBAR --***********************************************/

.al-sidebar{
	width: 180px;
	top: 66px;
	left: 0;
	z-index: 904;
	display: block;
	min-height: 100%;
	background-color: #1C2B36;
	height: 100%;
	position: fixed;
}

.al-sidebar-list{
	margin: 0;
	padding: 18px 0 0;
	list-style: none;
}

.al-sidebar-list-item.dashboard{
	background-color: #209E91;
}

.al-sidebar-list-item.dashboard a:hover{
	color: #FFFFFF;
}


.al-sidebar-list-item{
	display: block;
	position: relative;
	float: none;
	padding: 0;
}

.al-sidebar-list-item a{
	color: #FFFFFF;
	display: block;
	height: 42px;
	padding-left: 18px;
	font-size: 13px;
	text-decoration: none;
	line-height:42px;
	cursor: pointer;
}

.al-sidebar-list-item a:hover{
	color: #209E91;
}

.al-sidebar-list-item a i{
	margin-right: 18px;
	width: 16px;
	display: inline-block;
}

/***********************************************-- MENU TOP --***********************************************/

.custom-navbar {
    background-color: #1C2B36;
	z-index: 904;
	box-shadow: 2px 0 3px rgba(0,0,0,.5);
	height: 66px;
	width: 100%;
	min-width: 320px;
	padding: 5px 32px 0 40px;
}

.custom-navbar .scrolled{
	background-color:rgba(0,0,0,.85);
}

.custom-navbar .navbar-right a{
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
	transition: all 0.4s ease-in-out;
}

.custom-navbar .navbar-right a:hover{
	color: #1C2B36;
}

.custom-navbar .navbar-right a i{
	margin-right: 7px;
	width: 16px;
	display: inline-block;
}

	/*-- Toggle --*/
.custom-navbar .navbar-toggle{
	border: 1px solid #FFFFFF;
}

.custom-navbar .icon-bar{
	background-color: #FFFFFF;
}


/***********************************************-- CONTENT --***********************************************/

main{
	padding-left: 60px;
}

.calendar{
	
}


/***********************************************-- FOOTER --***********************************************/
