@import 'styles.css';

body{
	background-color: ##E6E6E6;
	padding-top: 80px;
}

/***********************************************-- HEADER --***********************************************/

.custom-navbar {
    background: #6E6E6E;
    margin-bottom: 0;
}

/***********************************************-- SIDEBAR --***********************************************/

.al-sidebar-list{
	margin: 0;
	padding: 18px 0 0;
	list-style: none;
}

/***********************************************-- FOOTER --***********************************************/
