@import "bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Lato|Permanent+Marker');

/*
    font-family: 'Permanent Marker', cursive;

    font-family: 'Lato', sans-serif;

    font-family: 'Alex Brush', cursive;
*/

.sectionContent{
	padding: 35px 50px;
}

.sectionContent hr{
	width: 80%;
}

.sectionContent h4{
	padding-top: 15px;
	text-align: center;

}

/*-- HEADER --*/

.main-nav{
	background-color: #c36652;
}

.navbar-brand{
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1.7em;
	text-decoration: none;
	letter-spacing: 2px;
}

.navbar-right li a{
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Lato', sans-serif;
}

.navbar-right li a:hover{
	color: black;
}

.navbar-right li.active a{
	background-color: rgba(0,0,0,.2);
}

	/*-- Toggle --*/
.navbar-toggle{
	border: 1px solid #FFFFFF;
}

.icon-bar{
	background-color: #FFFFFF;
}


/*-- SECTION 1 --*/

#home {
  background-size: cover;
  background-position: center;
  background-color: silver;
  color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100vh;
  text-align: center;
  background: url(../images/accueil1.jpg) fixed;
  background-size: cover;
}
#home h1 {
  font-size: 50px;
  letter-spacing: 4px;
  font-weight: bold;
}

#home h3 {
  font-size: 17px;
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
}
#home hr {
  width: 240px;
}
#home .btn {
  background: transparent;
  border: 4px solid #ffffff;
  border-radius: 0;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 12px 42px;
  margin-top: 40px;
  margin-right: 16px;
  transition: all 0.4s ease-in-out;
}
#home .btn:hover {
  background: #922B21;
  border-color: transparent;
}
#home .btn-danger {
  background: #922B21;
  border-color: transparent;
}
#home .btn-danger:hover {
	border: 4px solid #ffffff;
  	border-radius: 0;
	background: transparent;
  	color: #ffffff;
}

/*-- SECTION 2 --*/

.aboutUs{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(0,0,0,0.05);
}

.aboutUs h2{
	font-family: 'Alex Brush', cursive;
	font-size: 3em;
	font-weight: bold;
}

/*SECTION 5*/

.section5{
	/*background: url(../images/yonne-auxerre.jpg) no-repeat;
	background-size: cover;
	opacity: 0.2;*/
}

.section5 h4{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
	letter-spacing: 2px;
}

.section5 h5{
	padding-top: 50px;
	padding-bottom: 20px;
	letter-spacing: 2px;
	font-weight: bold;
}

.form-group{
	padding-bottom: 10px;
}

.form-group p{
	padding-bottom: 10px;
}

.inputLarge{
	width: 50%;
	min-height: 30px;
	display: block;
	border: 1px solid silver;
	border-radius: 5px;
	margin: auto;
}

.inputMessage{
	width: 50%;
	height: 200px;
	display: block;
	border: 1px solid silver;
	border-radius: 5px;
	margin: auto;
}

.button1{
	display: block;
	margin: auto;
	text-align: center;
	width: 50%;
	height: 40px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 30px;
	font-weight: bold;
	border : 4px solid #922B21;
	border-radius: 5px;
	background-color: #922B21;
	color: white;
	transition: all 0.4s ease-in-out;
}

.button1:hover{
	color: black;
	background-color: white;
}

.section5 i{
	padding-bottom: 15px;
	font-size: 1.3em;
}

/*-- FOOTER --*/

footer{
	background-color: #c36652; 
}

footer p{
	padding-top: 10px;

}

footer ul{
	text-align: right;
	padding-top: 10px;
}

footer a{
	color: black;
}

footer a:hover{
	color: white;
}