@import "bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Lato|Permanent+Marker');

/*
    font-family: 'Permanent Marker', cursive;

    font-family: 'Lato', sans-serif;

    font-family: 'Alex Brush', cursive;
*/


p{
	line-height: 28px;
  	font-size: 15px;
}

/*-- HEADER --*/

.main-nav{
	background-color: #6E6E6E;
}

.navbar-brand{
	color: #2ECCFA;
	font-weight: bold;
	font-size: 1.7em;
	text-decoration: none;
	letter-spacing: 2px;
	transition: all 0.4s ease-in-out;
}

.navbar-brand:hover{
	color: #ffffff;
}

.navbar-right li a{
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Lato', sans-serif;
	transition: all 0.4s ease-in-out;
}

.navbar-right li a:hover{
	color: #2ECCFA;
}

.navbar-right li.active a{
	background-color: rgba(0,0,0,.1);
}

	/*-- Toggle --*/
.navbar-toggle{
	border: 1px solid #FFFFFF;
}

.icon-bar{
	background-color: #FFFFFF;
}


/*-- SECTION 1 --*/

#home {
  background-size: cover;
  background-position: center;
  background-color: silver;
  color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100vh;
  text-align: center;
  background: url(../images/accueil1.jpg) fixed;
  background-size: cover;
}
#home h1 {
  font-size: 50px;
  letter-spacing: 4px;
  font-weight: bold;
}

#home h3 {
  font-size: 17px;
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
}
#home hr {
  width: 240px;
}
#home .btn {
  background: transparent;
  border: 4px solid #ffffff;
  border-radius: 0;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 12px 42px;
  margin-top: 40px;
  margin-right: 16px;
  transition: all 0.4s ease-in-out;
}
#home .btn:hover {
  background: #2ECCFA;
  border-color: transparent;
}
#home .btn-danger {
  background: #2ECCFA;
  border-color: transparent;
}
#home .btn-danger:hover {
	border: 4px solid #ffffff;
  	border-radius: 0;
	background: transparent;
  	color: #ffffff;
}

/*-- SECTION 2 --*/

.aboutUs{
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.aboutUs h2{
	font-family: 'Alex Brush', cursive;
	font-size: 3.5em;
	font-weight: bold;
}

/*-- SECTION 2 - 3 - 4 --*/

.sectionContent{
	padding: 35px 50px;
	padding-bottom: 100px;
}

.sectionContent hr{
	width: 80%;
}

.sectionContent h4{
	padding-top: 15px;
	text-align: center;
}

.sectionContent p{
	text-align: center;
}

/*SECTION 5*/

#contact{
	background: #3B3B3B url('../images/contact-bg.jpg') no-repeat center center;
  	background-size: cover;
  	padding-top: 25px;
  	padding-bottom: 85px;
}

#contact h2{
	font-family: 'Alex Brush', cursive;
	font-size: 3.7em;
	font-weight: bold;
	padding-top: 35px;
	padding-bottom: 80px;
	text-align: center;
	background: transparent;
	color: #ffffff;
}

#contact .contactInfo{
	color: #ffffff;
	padding-left: 35px;
}

#contact h3{
	padding-bottom: 20px;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
}

#contact h4{
	font-size: 20px;
  	font-weight: bold;
  	letter-spacing: 1px;
  	padding-top: 25px;
  	font-family: 'Lato', sans-serif;
}

#contact i{
	padding-right: 10px;
	font-size: 1.4em;
}

#contact .contactIcon{
	padding-bottom: 50px;
}

	/*Formulaire*/

#contact .form-control{
	border: 2px solid #ffffff;
	border-radius: 0;
	box-shadow: none;
	margin-top: 10px;
	margin-bottom: 10px;
	/*transition: all 0.4s ease-in-out;*/
}

#contact input{
	height: 40px;
}

#contact input[type="submit"]{
	background-color: #2ECCFA;
	border : 4px solid #2ECCFA;
	letter-spacing: 1px;
	height: 50px;
  	color: #ffffff;
  	font-weight: bold;
  	transition: all 0.4s ease-in-out;
}

#contact input[type="submit"]:hover{
	color: #2ECCFA;
	background-color: #ffffff;
}


/*-- FOOTER --*/

footer{
	background-color: #6E6E6E; 
}

footer p{
	padding-top: 10px;
	color: #ffffff;
}

footer ul{
	text-align: right;
	padding-top: 10px;
}

footer a{
	color: #ffffff;
	transition: all 0.4s ease-in-out;
}

footer a:hover{
	color: #2ECCFA;
}